@model IEnumerable<MarketRace.Entity.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_US)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLAVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_RO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
           
        </td>
        <td>
          
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
            
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
          
        </td>
    </tr>


</table>
